*{
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	padding-top: 70px;
	padding-bottom: 150px;
	background: transparent;
	position: relative;
}
.head-shadows{
	position: fixed;
	top: 0;
	margin: 0;
	padding: 0;
	background: #fff;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 17px;
	z-index: 5;
}
.nav-shadows{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-shadows aside:first-child{
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-shadows aside:last-child{
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (max-width: 576px){
	.nav-shadows aside:last-child{
		display: none;
	}
}
.social-fa{
	margin-left: 13px;
	transition: .3s all;
}
.social-fa:first-child{
	margin-left: 0;
}
.social-fa:hover{
	transform: translateY(-1px);
}
.social-fa img{
	width: 16px;
	max-width: 16px;
	min-height: 16px;
	display: block;
}
.logo-shadow{
	margin: 18px 0;
	padding: 0;
}
.logo-shadow img{
	width: 8.5rem;
	display: block;
	margin: 0;
	padding: 0;
}
/*---- START - EXAMPLES OF BOX SHADOWS ---*/
.examples-shadows{
	color: #3b3d44;
	font-size: 1.5rem;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	transition: .3s all;
}
.examples-shadows br{
	display: none;
}
/*--------*/
.social-media-resp{
	display: none;
}
@media (max-width: 576px){
	.examples-shadows{
		font-size: 1.2rem;
		margin-bottom: 15px;
	}
	.examples-shadows br{
		display: block;
	}
	.social-media-resp{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 100px;
	}
	.social-media-resp:before{
		content: '';
		width: 28%;
		max-width: 7rem;
		min-width: 5rem;
		height: 1.2px;
		position: absolute;
		background: #3b3d44;
		top: -10px;
	}
}
/*---- START - SHADOW GRID ---*/
.shadowGrid{
	display: grid;
	grid-template-columns: repeat(3, 11.3rem);
	grid-template-rows: repeat(auto, 11.3rem);
	grid-gap: 125px 125px;
	justify-content: center;
	align-items: center;
}
.shadow-cont{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	border-radius: 5px;
	height: 11.3rem;
	transition: .3s all;
}
.shadow-cont p{
	color: #3b3d44;
	font-size: .7em;
	text-align: center;
	display: none;
}
/*----*/
@media (max-width: 992px){
	.shadowGrid{
		grid-template-columns: repeat(3, 9rem);
		grid-template-rows: repeat(auto, 9rem);
		grid-gap: 50px 50px;
	}
	.shadow-cont{
		height: 9rem;
	}
}
@media (max-width: 768px){
	.shadowGrid{
		grid-template-columns: repeat(2, 10rem);
		grid-template-rows: repeat(auto, 10rem);
		grid-gap: 120px 120px;
	}
	.shadow-cont{
		height: 10rem;
	}
}
@media (max-width: 516px){
	.shadowGrid{
		grid-template-columns: repeat(2, 8rem);
		grid-template-rows: repeat(auto, 8rem);
		grid-gap: 60px 60px;
	}
	.shadow-cont{
		height: 8rem;
	}
	.btn-style{
		font-size: .7em;
	}
}
@media (max-width: 356px){
	.shadowGrid{
		grid-template-columns: repeat(1, 10rem);
		grid-template-rows: repeat(auto, 10rem);
		grid-gap: 70px 70px;
	}
	.shadow-cont{
		height: 10rem;
	}
}
/*-----*/
@media (min-width: 1200px) {
  .shadowGrid{
		grid-template-columns: repeat(3, 14rem);
		grid-template-rows: repeat(auto, 14rem);
		grid-gap: 185px 185px;
	}
	.shadow-cont{
		height: 14rem;
	}
}
/*-------*/
/*-- END - SHADOW GRID --*/
.descript-end-shadow{
	background: #fafafa;
	border: 1px solid rgba(27, 31, 35, 0.10); 
	margin-top: 150px;
	padding: 15px 20px;
	border-radius: 5px;
	overflow: hidden;
	font-size: 1rem;
}
.descript{
	color: #3b3d44;
	margin: 15px 0;
	margin-top: 0;
}
.listStyle{
	list-style-position: inside;
	padding-left: 0;
}
.listStyle li::marker{
	font-weight: bolder;
	color: #3b3d44;
}
.code-style {
	background: #e4e4e4;
	font-family: 'Poppins', sans-serif;
	margin: 0 2px;
	padding: 0 3px;
}
@media (max-width: 576px){
	.descript-end-shadow{
		font-size: .8rem;
	}
}